$heading-color: hsl(217, 19%, 35%);
$button-active: hsl(214, 17%, 51%);
$background-color: hsl(210, 46%, 95%);
$text-color: hsl(212, 23%, 69%);
$card-background-color: #fff;
$main-font: 'Manrope', sans-serif;
$heading-weight: 700;
$text-weight: 500;
