:root {
	--heading-color: hsl(217, 19%, 35%);
	--text-color: hsl(214, 17%, 51%);
	--background-color: hsl(210, 46%, 95%);
	--main-font: 'Manrope', sans-serif;
	--heading-weight: 700;
	--text-weight: 500;
}
